Flask==3.1.0
flask_cors==5.0.1
kafka-python>=2.0.2
numpy
opencv-python-headless==4.5.5.64
psycopg2_binary==2.9.10
python-dotenv==1.0.1
Requests==2.32.3
# torch
# torchvision
ultralytics==8.3.66
pyserial
modbus_tk
pymodbus
numpy==1.26.4